.tExT{
    font-family: 'Akaya Telivigala', cursive; 
    color: white;   
}

body {
    background-color:#05f521 ;  
  }

  .container{
    background-color: aqua;
  }

  .mint{
    font-size: large;
  }